    header {
        background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
        font-family: Helvetica;
        font-size: 100px;
        font-weight: bold;
        color: khaki;
        text-align: center;
    }
    
    body {
        background-image: url("https://img.wallpapersafari.com/desktop/1680/1050/61/5/AvlZSu.jpg");
    }
    
    h2 {
        font-family: Helvetica;
        font-size: 32px;
        font-weight: bold;
        color: white;
    }
    
    #brush {
        background-color: mediumspringgreen;
    }
    
    #frame {
        background-color: lightcoral;
    }
    
    #paint {
        background-color: skyblue;
    }
    
    a {
        font-family: Helvetica;
        font-weight: bold;
        color: blue;
    }